

nav{
    position: fixed;
    display: flex;
    width: 100%;
    background: rgba(230, 230, 230, 0.3);

}

nav .container-fluid {
    width: 100%;
}

.shoppingCart i {
    line-height: 42px;
}

.dropDownCart{
    position: absolute;
    /* background: rgba(230, 230, 230, 0.5); */
    background-color: black;
    padding: 10px;
    border: 1px solid #aaa;
}

.add{
    padding: 0.5em;
}

.logo p {
    line-height: 42px;
    margin: 0;
}