.containerCheckout{
    padding-top: 9rem;
    text-align: center;
    margin: 0 1rem;
}

.containerCheckout h2{
    font-size: 1.5rem;
}

.containerCheckout h3{
    font-size: 1.3rem;
}

.containerCheckout p{
    font-size: 0.9rem;
}

.totalPriceCheckout{
    padding-top: 0.5rem;
}

.orderRows{
    border-bottom: 1px solid gray;
}

.emailInputText{
    margin:0;
}

.EmailInputField{
    width: 13rem;
    border-radius: 0.5rem;
}

.choosePayment{
    margin:0;
}

.finishOrderBtn{
    align-self: center;
    margin: 0 auto;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(56, 56, 56, 0.753);
    color: white;
    margin: 1rem 0 0 0;
    width: 150px;
}

.finishOrderBtn:hover{
    background-color: rgba(43, 43, 43, 0.753);
color: rgb(189, 189, 189);
}



.finishOrderBtn p{
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
}
.add{
    font-size: 0.9rem;
    padding: 0 0.4rem;
}

.subtract{
    font-size: 0.9rem;
    padding-left: 0.4rem;
}


@media (min-width: 768px){
    .containerCheckout{
        margin: 0 5rem;
    }

    .containerCheckout h2{
        font-size: 2rem;
    }

    .containerCheckout h3{
        font-size: 2rem;
    }
    
  }

  .containerCheckout p{
    font-size: 1rem;
}
  
  @media (min-width: 992px){
    .containerCheckout{
        margin: 0 10rem;
    }
  }
