<div class="container-fluid">

  <main class="containerCheckout">

    <div class="row" *ngFor="let singleMovie of cart">
      <p class="col-5"><strong>{{singleMovie.movie.name}}</strong></p>
      <p class="col-3">Qty: <i class="add fas fa-plus"
          (click)="addSingleMovieToCart(singleMovie.movie)"></i>{{singleMovie.amount}}
        <i class="subtract fas fa-minus" (click)="subtractMovie(singleMovie.movie.id)"></i></p>
      <p class="col-3">{{singleMovie.totalPrice}} SEK </p>
    </div>

    <p>Total price: <strong>{{totalSum}} SEK </strong></p>


    <section>
      <form [formGroup]="orderForm" (ngSubmit)="postOrder()" #formDir="ngForm">
        <label for="email">Email adress</label><br>
        <input name="email" type="text" formControlName="emailAdress"><br>

        <div
          *ngIf="orderForm.get('emailAdress').invalid && (formDir.submitted || orderForm.get('emailAdress').dirty || orderForm.get('emailAdress').touched)">
          <div *ngIf="orderForm.get('emailAdress').errors.required">
            <p class="errorMessage">Du måste fylla i mejladress.</p>
          </div>
          <div *ngIf="orderForm.get('emailAdress').errors.email">
            <p class="errorMessage">Du måste skriva in en mejladress.</p>
          </div>
        </div>

        <label for="paymentOptions">Payment Options</label><br>

        <select id="paymentOptions" formControlName="paymentOptions">
          <option selected="selected" value="">Paymentmethod</option>
          <option value="card">Card</option>
          <option value="paypal">PayPal</option>
        </select>

        <div *ngIf="orderForm.get('paymentOptions').invalid && formDir.submitted">
          <div *ngIf="orderForm.get('paymentOptions').errors.required">
            <p class="errorMessage">Choose paymentmethod</p>
          </div>
        </div><br>


        <button class="finishOrderBtn" type="submit">Place order</button>

      </form>
    </section>

    {{orderForm.value.emailAdress}}
    {{orderForm.value.paymentMethod}}
  </main>
</div>