<div *ngFor="let singleMovie of cart">
    <p>Name: {{singleMovie.movie.name}}</p>
    <p><strong>Amount: {{singleMovie.amount}}</strong>, {{singleMovie.movie.price}}:-/each
      <i class="add fas fa-plus" (click)="addSingleMovieToCart(singleMovie.movie)"></i>
      <i class="subtract fas fa-minus" (click)="subtractMovie(singleMovie.movie.id)"></i></p>
    <p> <strong>Total: {{singleMovie.totalPrice}}:-</strong></p>
  </div>

  <p>{{totalSum}}</p>



<section>
  <form [formGroup]="orderForm">
    <label for="email">Email</label><br>
    <input name="email" type="text" formControlName="emailAdress"><br>
    <label for="paymentOptions">Payment Options</label><br>
    <input name="paymentOptions" value="swish"  checked="checked" type="radio" formControlName="paymentOptions"><br>
    <input name="paymentOptions" value="paypal" type="radio" formControlName="paymentOptions"><br>
    
    <button type="submit" (click)="postOrder()" [disabled]="!orderForm.valid">Place Order</button><br>

  </form>
</section>

{{orderForm.status}}

{{orderForm.value.emailAdress}}
{{orderForm.value.paymentMethod}}