
.image{
    height: 300px;
    width: 200px;
}

.movieImageContainer{
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    padding: 1rem 1rem 0.5rem 1rem;
}

.singleMovieContainer {
    width: 100%;
    text-align: center;
}

.singleMovieContainer p{
    margin-bottom: 2px;
}

.addToCartButton{
    align-self: center;
    margin: 0 auto;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(56, 56, 56, 0.753);
    color: white;
    margin-bottom: 1rem;

}
