<!-- <div class="container-fluid">
  <main class="containerAdmin">
    <div class="row orders" *ngFor="let order of orders">
      <p>Id: {{ order.id }}, CompanyId: {{ order.companyId}} Created by: {{ order.createdBy }}, Created: {{ order.created }}, Total price:
        {{ order.totalPrice}} </p>
      <p *ngFor="let orderRow of order.orderRows">
        Product ID: {{ orderRow.productId }}
      </p>
   
  
    </div>
</main>
</div> -->

<div class="orders" *ngFor="let orders of extendedOrders">

    <div *ngFor="let name of orders.movieNames">
    <p>Film: {{ name }}</p>
    </div>
    
    <div *ngFor="let orderRow of orders.order.orderRows">
    <p>Produkt ID: {{ orderRow.productId }}</p>
    <p> Antal: {{ orderRow.amount }}</p>
    </div>
    
    <p>ID: {{ orders.order.id }}</p>
    <p>Företags ID: {{ orders.order.companyId }}</p>
    <p>Skapad av: {{ orders.order.createdBy }}</p>
    <p>Skapad: {{ orders.order.created }}</p>
    <p>Totalpris: {{ orders.order.totalPrice }}:- </p>
    
    </div>
