.containerDetails{
padding-top: 8rem;
justify-content: center;
text-align: center;
margin-bottom: 10rem;
height: 60vh;
}

.imageDetails{
    height: 250px;
    width: 170px;
    
}
.addToCartButton{
    align-self: center;
    margin: 0 auto;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(56, 56, 56, 0.753);
    color: white;
    margin-bottom: 1rem;
}

.singleMovieDescription{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}


@media (min-width: 768px){
  
    .imageDetails{
        height: 400px;
        width: 300px;
        
    }
    
  }
  
  @media (min-width: 992px){

    .containerDetails{
        width: 95%;
        }
    
      }