.containerDetails{
padding-top: 10rem;
  text-align: center;
}

.imageDetails{
    height: 300px;
    width: 200px;
    align-self: center;
}
.addToCartButton{
    align-self: center;
    margin: 0 auto;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(56, 56, 56, 0.753);
    color: white;
    margin-bottom: 1rem;
}